#include <windows.h>
#include "resource.h"

// Settings Dialog
IDD_SETTINGS DIALOGEX 0, 0, 250, 230
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL "", IDC_TAB_SETTINGS, "SysTabControl32", WS_TABSTOP, 7, 7, 236, 216
END

// Appearance Tab Page
IDD_TAB_APPEARANCE DIALOGEX 0, 0, 220, 180
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX "Theme", -1, 10, 10, 200, 30
    AUTORADIOBUTTON "Light", IDC_RADIO_THEME_LIGHT, 20, 25, 40, 10, WS_GROUP
    AUTORADIOBUTTON "Dark", IDC_RADIO_THEME_DARK, 70, 25, 40, 10
    AUTORADIOBUTTON "System", IDC_RADIO_THEME_SYSTEM, 120, 25, 40, 10
    LTEXT "Font Face", -1, 10, 50, 50, 10
    COMBOBOX IDC_COMBO_FONT_FACE, 70, 50, 140, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Font Size", -1, 10, 70, 50, 10
    COMBOBOX IDC_COMBO_FONT_SIZE, 70, 70, 50, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL "Make hyperlinks clickable", IDC_CHECK_CLICKABLE_LINKS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 90, 150, 10
    CONTROL "Make email addresses clickable", IDC_CHECK_CLICKABLE_EMAILS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 110, 150, 10
END

// Markdown Tab Page
IDD_TAB_MARKDOWN DIALOGEX 0, 0, 220, 180
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL "Use markdown formatting for notes", IDC_CHECK_USE_MARKDOWN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 10, 200, 10
    CONTROL "Display markdown format menu", IDC_CHECK_SHOW_FORMAT_MENU, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 30, 200, 10
    CONTROL "Show notes rendered with markdown on open", IDC_CHECK_RENDER_ON_OPEN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 50, 200, 10
    CONTROL "Double click note to edit", IDC_CHECK_DOUBLE_CLICK_EDIT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 70, 200, 10
    CONTROL "Double click note to show markdown", IDC_CHECK_DOUBLE_CLICK_MARKDOWN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 90, 200, 10
END

// Tags Tab Page
IDD_TAB_TAGS DIALOGEX 0, 0, 220, 180
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT "Tags", -1, 10, 5, 200, 8
    CONTROL "", IDC_LIST_TAGS, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_EDITLABELS | WS_BORDER | WS_TABSTOP, 10, 15, 200, 100
    LTEXT "Tag", -1, 10, 120, 20, 8
    EDITTEXT IDC_EDIT_TAG, 10, 130, 140, 14, ES_AUTOHSCROLL
    PUSHBUTTON "Add", IDC_BUTTON_ADD_EDIT_TAG, 155, 130, 55, 14
    PUSHBUTTON "Delete", IDC_BUTTON_DELETE_TAG, 10, 150, 50, 14
    PUSHBUTTON "Up", IDC_BUTTON_UP_TAG, 110, 150, 50, 14
    PUSHBUTTON "Down", IDC_BUTTON_DOWN_TAG, 165, 150, 50, 14
END

// Cloud Sync Tab Page
IDD_TAB_CLOUD_SYNC DIALOGEX 0, 0, 220, 180
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT "Status:", -1, 10, 10, 28, 8
    LTEXT "Not connected", IDC_STATIC_CLOUD_STATUS, 42, 10, 168, 8

    LTEXT "OAuth Client ID", -1, 10, 26, 60, 8
    EDITTEXT IDC_EDIT_CLOUD_CLIENT_ID, 75, 24, 135, 14, ES_AUTOHSCROLL

    LTEXT "OAuth Client Secret", -1, 10, 42, 70, 8
    EDITTEXT IDC_EDIT_CLOUD_CLIENT_SECRET, 85, 40, 125, 14, ES_PASSWORD | ES_AUTOHSCROLL

    PUSHBUTTON "Connect...", IDC_BUTTON_CLOUD_CONNECT, 10, 60, 70, 14
    PUSHBUTTON "Disconnect", IDC_BUTTON_CLOUD_DISCONNECT, 85, 60, 70, 14

    CONTROL "Enable cloud sync", IDC_CHECK_CLOUD_SYNC_ENABLED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 78, 200, 10

    LTEXT "Sync interval", -1, 10, 96, 60, 8
    COMBOBOX IDC_COMBO_CLOUD_SYNC_INTERVAL, 75, 94, 60, 90, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL "Sync on exit", IDC_CHECK_CLOUD_SYNC_ON_EXIT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 114, 200, 10

    PUSHBUTTON "Sync now", IDC_BUTTON_CLOUD_SYNC_NOW, 10, 132, 70, 14

    LTEXT "Last sync:", -1, 10, 150, 50, 8
    LTEXT "", IDC_STATIC_CLOUD_LAST_SYNC, 62, 150, 148, 8

    LTEXT "Last error:", -1, 10, 162, 50, 8
    LTEXT "", IDC_STATIC_CLOUD_LAST_ERROR, 62, 162, 148, 16
END
